*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

:root{
  --azul-oscuro: #022C43;
  --azul-medio : #053F5E;
  --azul-claro : #115173;
  --amarillo: #FFD700;
}

body{
  font-family: 'Oxygen', sans-serif;
}
